/*Styles.css for Athena Home Page*/

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

/*Site-Wide*/

body {

	font-family: 'Oxygen', sans-serif;
	
	margin: 0px;

	background: #eaebec; /* background gray */
	
	color: #5B626E;
}

#mainContentWrapper {

	/* margin: 5px 10%; */
	
	

}

/*Body organization on Home page */

#homeCol1 {

	float: left;
	
	margin-left: 20px;
	
	width: 860px;
	
	position: relative;
	top: -10px;

}

#homeCol2 {
	
	width: 480px;

	position: absolute;
	
	left: 920px;
	
	top: 90px;
	
}

/* calendar header */
.colTabRow {
	
	width: 860px;
	
	margin-left: 20px;
	
	height: 65px;

}

.colTabRow div  {

	display: inline-block;
	
	cursor: pointer;
	
	

}

.tabRowHeader {

	margin: 0px 10px 0px 0px;
	padding: 5px;
	
	font-size: 120%
}

#tab1Button, #tab2Button {

	
	
	padding: 10px;
	
	font-family: 'Open Sans', sans-serif;
	
	font-weight: bold;
	
}

.tabUnselected {

	background: #d0d2d6;

}

.tabSelected {
	background:  #71AEBF; /* nav-bar blue */
	
	color: white;
}

.selected {
	background: white !important;
	color: #71AEBF !important; /* nav-bar blue */
}

/*end calendar header*/

/*filters Box*/

.filtersBox {

	background: #E8E8E6;
	width: 60%;
	margin-top: 5px;
	height: 80px;
	
	margin-left: 20px;

}

.assignmentStatus , .repDiv {
	display: inline-block;
	margin: 5px 10px;
	padding: 5px;


}

.assignmentStatus h3, .repDiv h3 {
	margin: 5px 0px;

}


/*date menu */

.dateMenuBar {
		
	width: 860px;
	
	height: 60px;
	
	margin-left: 20px;

	background: #71AEBF; /* nav-bar blue */
}

.dateMenuBar div {

	display: inline-block;
	
	padding: 5px;
	
	position: relative;
}

#todayButton  {
	bottom: 29px;
	
	color: white;
	
	height: 73%;
	width: 8%;
	
	text-align: center;

	font-family: 'Open Sans', sans-serif;
	
	font-weight: bold;

	background: #61A1B2;

	margin: 3px;
	
	
	cursor: pointer;

}

#todayButton small {
	position: relative;

	top: 20%;

}

#arrowButtonsBox {

	bottom: 20px;

	position: relative;
	left: -14px;
	margin-left: 15px;

}

#arrowButtonLeft, #arrowButtonRight {

	font-family: 'Open Sans', sans-serif;
	
	padding: 5px 20px;
	margin: 1px;
	
	
	font-weight: bold;
	
	
	background: #4b8799;
	
	color: white;
	
	
	cursor: pointer;

}

#dateBox {

	font-family: 'Open Sans', sans-serif;

	position: relative;
	bottom: 10px;
	left: 20px;
	margin: 0px 40px;
	text-align: center;
	
	width: 250px;
	
	color: white;
	
}

#dateBox h3 {

	margin: 1px 0px;

}


#calListBox {

	bottom: 20px;

	position: relative;
	margin-left: 15px;
	
	
	font-weight: bold;
	

}

#calButton, #listButton  {

	position: relative;
	

	font-family: 'Open Sans', sans-serif;
	
	padding: 5px 10px;
	margin: 1px;
	
	color: white;
	
	background: #4b8799;
	
	
	cursor: pointer;
}

#calButton small, #listButton small {
	position: relative;
	bottom: 2px;

}

#showFiltersButton {

	bottom: 29px;
	
	font-family: 'Open Sans', sans-serif;
	
	background: #61A1B2;
	
	left: 32px;
	
	height: 73%;
	width: 15%;
	
	color: white;
	
	font-weight: bold;
	
	text-align: center;

	cursor: pointer;
}

#showFiltersButton span {
	position: relative;
	top: 10px;

}


/* home menu Table */

.eventsTable {
	margin-top: 10px;
	
	width: 850px;
	
	
}

.eventsTable td {
	margin-left: 5px;

}

.eventsTable a {
	
	color: #71AEBF; /* nav-bar blue */
	
	font-weight: bold;

}

.headerRow {	
	background: #D0D2D6; /*header row background */
	
	color: #5B626E ;
	
	font-size:20px;
	
	width: 855px;
	height: 20px;
	

}

.headerRow h5 {

	margin: 0px;
	padding: 5px;
	
	color: gray;
	
	font-weight: normal;
	font-size: 14px;
	
	position: relative;
	
	top: -5px;

}

.complete {

	background: #CCFFCC;

}

.normalRow, .normalRowAlternate {

	
	background: white;
	
	position: relative;
	left: 7px;
	width: 840px;
	
	height: 60px;

	margin: 0;
	
}

.normalRow .rowBox, .normalRowAlternate .rowBox {

	border: 1px solid gray;
	
	float: left;
	
	position: relative;
	
	top: 4px;
	
	margin: 0px 10px;
	
	width: 50px;
	height: 50px;

}


.normalRow .rowBox span, .normalRowAlternate .rowBox span  {

	position: relative;
	left: 12px;
	
	font-size: 12px;
	font-weight: bold;

}

.normalRow .rowText, .normalRowAlternate .rowText {

	position: relative;
	
	top: 20px;

	
}

.normalRow .rowSelect, .normalRowAlternate .rowSelect {

	position: relative;
	
	right: 5px;
	
	top: -10px;
	
	float: right;

}

.normalRow select, .normalRowAlternate select {
	height: 42px;
	
	width: 200px;

}

.unassignedSelect {
	background: #f2e772 !important; /* unassigned select background (yellow) */

}



.normalRow {

	

}

/* Case Rows */

.caseRow {

	background: white;
	
	height: 100px;

}

.normalRowAlternate {

	background: #E8E8E6;

}

.caseTime {
	
	background: #71aebf;
	
	float: left;
	
	margin: 0px 5px 0px 0px;

	height: 100px;
	width: 100px;
	
}

.caseTime h3 {

	position: relative;
	
	top: 35px;
	margin: 0px 5px 0px 0px;
	
	color: white;
	
	text-align: center;

}

.caseTextScheduled {

	position: relative;
	top: 10px;
	left: 5px;

}

.rowSelectAlternate {

	position: relative;
	float: right;
	
	top: 30px;
	right: 5px;

}

.rowSelectAlternate select {
	width: 150px;
	height: 42px;

}

.rowSelectAlternateNotOnSite {

	position: relative;
	float: right;
	
	top: 15px;
	right: 5px;

}

.rowSelectAlternateNotOnSite select {
	width: 150px;
	height: 42px;

}


.rowUnassigned {
	background: #F9D2B3  !important; /* tray unassigned (red) */


}

.rowUnassigned .rowSelectAlternate {

	position: relative;
	top: 15px !important;

}

.rowUnassigned .caseTime {
	background: #ed785a !important;


}

.rowTrayNotAtSite {
	background: #FEFDBF !important; 

}

.rowTrayNotAtSiteSelect, .trayAssignedSelect {
		position: relative;
		bottom: 0px;
}

.rowTrayNotAtSiteSelect {

	
	background: #f2e772 !important; /* unassigned select background (yellow) */
}

.rowTrayNotAtSite .caseTime  {
	background: #f2e772 !important;
	color: black !important;

}

.rowTrayNotAtSite .caseTime h3  {
	color: black !important;

}

.rowUnassigned .traysNeededUnassigned {

	top: 15px !important;
	left: 5px !important;

}

.traysNeeded {

	float: left;
	position: relative;

	top: 30px;

}

.traysNeeded select {

	width: 150px;
	height: 42px;
	margin: 0px 5px 0px 5px;

}

.traysNeededUnassigned {
	float: left;
	position: relative;

	top: 30px;
	

}

.traysNeededUnassigned select {
	width: 150px;
	height: 42px;
	margin: 0px 5px 0px 5px;


}

.traysNeededTrayNotAtSite {
	float: left;
	position: relative;
	top: 15px;
}

.traysNeededTrayNotAtSite select {
	width: 150px;
	height: 42px;
	margin: 0px 5px 0px 5px;


}


.trayWarning {

	position: relative;
	
	width: 250px;
	
	left: 600px;
	top: -10px;

}

.trayWarning span {
	font-size: 12px;
	
	float: right;

}

.trayNotOnSite {

	position: relative;
	float: right;
	
	right: 10px;
	
	font-weight: bold;
	
	color: red;

}

.trayUnassigned {

	background: #ed785a; 

}


.rowTextScheduled {

	float: left;
	
	position: relative;
	
	top: 20px;

}



/*Notifications Table stuff */

.notificationsTable {

	

}

.notificationsTable h3 {

	margin: 0px;
	padding: 5px;
	
	
	font-size:20px;
	
	width: 400px;


}

.notification  {

	background: white;
	
	position: relative;
	
	left: 5px;
	
	width: 380px;
	
	padding: 10px;
	
	float: left;
}

.notificationsTableText {

	position: relative;
	
	top: 1px;

	font-size: 14px;
	
	width: 350px;
	
	float: left;

}

.notificationsTableX {

	position: relative;
	
	float: right;
	
	width: 20px;
	
	padding: 1px;
	
	text-align: center;
	
	cursor: pointer;
}

.notificationsTableGoToButton {

	background: #E8E8E6;
	
	padding: 5px;
	
	margin-top: 5px;
	
	float: left;

	cursor: pointer;
}

/*Nav-Menu stuff*/

.navMenu {

	font-family: 'Open Sans', sans-serif;

	
	width: 100%;
	position: relative;
	
	background:  #71AEBF; /* nav-bar blue */
	
	
	color: #5B626E ;

}

.navMenu div {
	
	display: inline-block;
	
	
	
	font-size: 10pt;
	
}

.navSelected {
	color: white;

	text-decoration: underline;

}

.navUnselected {
	color: white;
	
	text-decoration: none;

}

.navMenuButtonLogo {

	position: relative;
	margin: 5px 5px;
	padding: 5px;
	
	
	
	top: 5px;
}

.navMenuButtonLeft {
	
	position: relative;
	margin: 5px 10px;
	padding: 10px;
	
	
	bottom: 10px;
}

.navMenuButtonLeft:hover{
	
	transition: all 1s ease;
	
	text-decoration: underline;
	
}

.navMenuButtonRight {

	position: relative;
	margin: 5px 10px;
	padding: 10px;
	float: right;
	
	top: 8px;

}

.navMenuButtonRight:hover{
	
	transition: all 1s ease;
	border: 1px solid black;
	
}

#newCaseButton {
	
	background: #4B8799;
	
}


