			
			* {
			
			background: none repeat scroll 0% 0% transparent;
			}
			
			table {
				
				/*box-shadow: 5px 2px 5px #888; */
				}
			
			body {
				font-family: helvetica, sans-serif;
				margin: 0;
				background:  #f3f3f3;
				
								overflow-x:hidden;
			}
			
			.legend {
				margin-bottom: 5px;
			
			}
			
			.dashboard a {
				text-decoration: none;
				color: white;
			}
			
			
			.dashboard ul {
				padding: 0;
			
			}
			
			.dashboard {
				margin-bottom: 10px;
				/*background: #33CC33;*/
				width: 1450px;
				background: linear-gradient(to bottom, #F7F7F7 0%, #D3D3D3 100%) repeat scroll 0% 0% transparent;
			}
			
			#icon {
				font-size: 20px;
				margin-right: 8px;
				background: linear-gradient(to bottom, #154B6C 0%, #1C688E 100%) repeat scroll 0% 0% transparent;
				border: 1px solid #252662;
				padding: 3px;
				border-radius: 25px;
			}
			
			#titleicon {
				font-size: 25px;
				margin-right: 8px;
				position: relative;
				
			}
			
			#title {
			
				position: relative;
				
			
			}
			
			.pagetitle {
				background: none repeat scroll 0% 0% #EBEBEB;
				font-size: 20px;
				text-align: left;
				position: relative;
				width: 142%;
				padding: 15px 0px 10px;
				font-weight: 500;
				top: -10px;
				left: -210px;
				
			}
			
			
			.wrapper {
				width: 960px;
				position: relative;
				margin: auto;
				
			}
			
			.footer a {
				text-decoration: none;
				color: white;
			}
			
			
			table, th, td {
			 /*	border: 1px solid black; */
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 3px;
				max-width: 400px;
				word-wrap: break-word;
			}
			.assignment {
				margin-top:10px;
				margin-bottom:10px;
			}
			
			.completed  table {
				margin-top: 10px;
				margin-bottom: 10px;
				background: lightgray;
				box-shadow: 5px 2px 5px #888;
			}
			
			.completed div{
				box-shadow: 5px 2px 5px #888;
			
			}
			
			#header {
				padding-top: 20px;
				padding-bottom: 20px;
				height: 40px;
				position: relative;
			
			}
			
			#logo {
				height: 40px;

			
			}

			
			.headernav {
				background: linear-gradient(to bottom, #67C2E7 0%, #27A7DA 1%, #252661 100%) repeat scroll 0% 0% transparent;
				color: white;
				height: 40px;
			}
			
			.headernav ul {
				position: relative;
				top:5px;
				border: 0;
				margin-top: 0;
				margin-bottom: 0;
				padding: 0;
				box-shadow: none;
				height: 100%;

			}

			.headernav li { 

				/* border-radius: 25px; */
				
				border: 0;
				vertical-align: middle;
				height: auto;
				margin: 0;
				box-shadow: 0;
				display: inline; 
				padding: 15px 35px 15px 45px;
				position: relative;
				bottom: 2px;
				cursor: pointer;
				width: auto;
				max-width: 192px;
				font-weight: 500;
				text-shadow: 1px 1px 2px black;
				font-size: 15px;
				text-align: center;
				
			}
			
			.extras {
				position: absolute;
				top: -20px;
				right: 0px;
				font-size: 12px;
				background: linear-gradient(to bottom, #67C2E7 0%, #27A7DA 1%, #252661 100%) repeat scroll 0% 0% transparent;
				padding: 10px;
				height: 20px;
				border-radius: 0px 0px 10px 10px;
				
				display: inline;
			
			}
			
			.extras ul li {
				display: inline;
				color: white;
				list-style-type: none;
				position: relative;
				top: -18px;
				margin-right: 10px;
				
			}
			
			.menulink {
				display: inline;
			
			}
			
			.username {
				position: absolute;
				top: -20px;
				right: 180px;
				font-size: 12px;
				background: linear-gradient(to bottom, #67C2E7 0%, #27A7DA 1%, #252661 100%) repeat scroll 0% 0% transparent;
				padding: 10px;
				height: 20px;
				border-radius: 0px 0px 10px 10px;
				
				display: inline;
			
			}
			
			#username {
				color: white;
				position: relative;
				font-weight: bold;
				padding-bottom: 5px;
				top: 3px;
				margin: 5px;
			}
			
			#extraicon {
				font-size: 20px;
				margin-top: 10px;
				margin-right: 5px;
				padding: 3px;
			}
			
			.headernav li:hover{
				
				background: linear-gradient(to bottom, #252762 0%, #27A8DB 99%, #67C2E7 100%) repeat scroll 0% 0% transparent;
				border-radius: 25px;
			}
			
			.footer  {
				margin-top: 10px;
				background: #666633;
				color: white;
			}
			
			.error {
				color: red;
			}
			
			.warning {
			
				color: #CC7A00;
			}
			
			.loan {
			
				color:  #CC7A00;
			}
			
			.main {
				margin-left: auto;
				margin-right: auto;
				width: 1400px;

				text-align: center;
				
			}
			
			.main table {
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			
			}
			
			.main div {
				margin-left: auto;
				margin-right: auto;
			
			}
			
			.mod {
				visibility: hidden;
				
				border: 1px solid black;
				margin-top: 10px;
				margin-bottom: 10px;
				padding: 3px;
				}
			
			#casetable table{
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			
			}
			
			#trayview table {
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
			
			.filterform {
				margin-bottom: 10px;
			
			}
			
			.trayclass {
				width: 500px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 10px;
				
				
				border-radius: 25px;
				border: 5px solid rgba(213, 213, 213, 0.44);
				
				background: none repeat scroll 0% 0% #EBEBEB;
				
				padding-left: 10px;
				padding-right: 10px;
				padding-bottom: 10px;
			}
			
			.trayclass h2 {
				position: relative;
				top: -80px;
				text-align: left;
			}
			
			.icon {
				position: relative;
				float: left;
				margin-right: 10px;
			}
			.location {
				position: relative;
				text-align: left;
				top: 70px;
			
			}
			
			.trayarrow {
				position: relative;
				right: -200px;
				top: 40px;
				font-size: 30px;
			}
			
			.loanButton {
			
				position: relative;
				left: 150px;
				top: 5px;
			
			}
			
						
			.assignmentsLabel {
				margin-top: 0;
			
			}
			
			.dropoffButton {
			
				position: relative;
				left: 160px;
				top: 5px;
				margin-bottom: 5px;
			}
			
			.clickable {
				position: relative;
				top: 7px;
				cursor: pointer;
			
			}
			
			.expandedtrayview {
				display: none; /*THIS IS WHERE TRAY TABLE IS DISPLAYED */
				background: #F7F7F7;
				border-radius: 25px;
				padding: 10px 0px 10px 0px;
			
			}
			
			.expandedtrayview table {
				
			
			}
			
			.instrumentView {
				background: none repeat scroll 0% 0% #EBEBEB;
				width: 450px;
				border-radius: 25px;
				margin-bottom: 10px;
			
			}
			
			.innerAssignTable {
				background: none repeat scroll 0% 0% #EBEBEB;
				border-radius: 25px;
				width: 450px;
			
			}
			
			.innerAssignTable table th td {
				border: 0;
			}
			
			 .docSite {
				text-align: left;
				position: relative;
				top: 65px;
				
			
			} 
			
			.assignLink {
				text-align: right;
				position: relative;
				right: 20px;
				top: 10px;
			
			}
			
			.caseTime {
				text-align: left;
				position: relative;
				top: 60px;
			} 
			
			 .caseComment {
				position: relative;
				margin-top: 5px;
			
			} 
			
			.traysInCase {
				height: 100px;
				width: 450px;
				background: none repeat scroll 0% 0% #EBEBEB;
				border-radius: 25px;
				margin: 10px;
			
			}
			
			.trayName {
				text-align:left;
				position: relative;
				left: -30px;
				top: -10px;
				width: 350px;
			}
			
			.linkToComplete {
				position: relative;
				top: 5px;
				left: 180px;
			
			}
		
			.trayTeam {
				text-align: left;
				position: relative;
				left: 20px;
				top: 0px;
			}
			
			.trayTime {
				text-align: left;
				position: relative;
				left: 20px;
				top: 10px;
			
			}